@import url(../css/style.css);


.navbar,
.text-light {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.top {
  position: fixed;
  top: 0px;
  z-index: 5000;
  width: 100%;
}